@model GalleryViewModel
@inject IImageService _imageService
@inject ICategoryService _categoryService
@{
    string bilder = "https://arvidsonfoto.se/Bilder";
    List<TblImage> imageList = Model?.DisplayImagesList; //Hämtar (x)-antal bilder att visa på startsidan

    int imageCount = 0;
    if (imageList is not null)
        imageCount = imageList.Count();

    //Kontroll om det är startsidan eller ej...
    bool startsidan = false;
    if (imageCount.Equals(12) && Model.SelectedCategory is null || Model.SelectedCategory is null)
        startsidan = true;

    //Om modellen är exakt 12 (som på startsidan) , så kommer det att justeras i bredd för startsidans, annars : justeras det för bredare galleri.
    string rowSizeClass = startsidan ? "col-4 col-lg-3" : "col-4 col-sm-3 col-lg-2";
    //bredden innan texten bryts på tumnaglarna (olika på startsidan/övriga):
    string imgCharWidth = startsidan ? "thumb-img-startpage" : "thumb-img-gallery";
    string figcaptionCharWidth = startsidan ? "thumb-figcaption-startpage" : "thumb-figcaption-gallery";
}

@if (imageList is null || imageList.Count.Equals(0))
{
    if (ViewData["Title"].Equals("Fåglar"))
    {
        <p class="m-4">Välj en fågel-kategori här ovanför ⤴</p>
    }
    else
    {
        <p>
            Det finns inga bilder i denna kategori... <br />
            Se istället alla bilder på sidan: <a href="/Senast/Fotograferad">ArvidsonFoto.se/Senast/Fotograferad</a>.
        </p>
        <p class="mt-4">
            Här är en bild på en söt kanin 🐇 istället:
        </p>
        <div id="imageRabbit" class="col-12 col-sm-10 col-md-8 col-lg-6">
            <figure class="figure alert alert-light" title="Kanin 🐇">
                <img class="figure-img img-fluid rounded" src="https://arvidsonfoto.se/Bilder/D%C3%A4ggdjur/Kanin/B57V4570.jpg" alt="Bild på en söt kanin..." />
                <figcaption class="figure-caption text-center text-truncate">Kanin 🐇</figcaption>
            </figure>
        </div>
        <h3>Sök bland kategorier</h3>
        <div id="search" class="mb-5">
            Du kan även söka bland kategorierna här nedan eller se alla kategorier via:
            <a href="/Info/Sidkarta" title="ArvidsonFoto.se/Info/Sidkartan">Sidkartan <i class="bi bi-diagram-3"></i></a><br />
            <partial name="_SearchBar" />
        </div>
    }
}
else if (Model.ErrorMessage is not null)
{
    <p>Något gick fel... Felmeddelande: @Model.ErrorMessage</p>
}
else
{
    <div id="gallery" class="row">
        @{ var index = 1; }
        @foreach (var img in imageList)
        {
            string customDesc = "custom-desc" + index;

            string imgHref = bilder;
            string imgTitle = _categoryService.GetNameById(img.ImageArt);
            string imgDesc = "";

            if (String.IsNullOrWhiteSpace(img.ImageDescription) is false)
                imgDesc = ", " + img.ImageDescription + ".";

            if (img.ImageHuvudfamilj.HasValue)
                imgHref += "/" + _categoryService.GetNameById(img.ImageHuvudfamilj);
            if (img.ImageFamilj.HasValue)
                imgHref += "/" + _categoryService.GetNameById(img.ImageFamilj);

            imgHref += "/" + imgTitle;

            if(img.Name is not null)
            {
                imgTitle = img.Name;
            }

            string imgThumbSrc = imgHref + "/" + img.ImageUrl + ".thumb.jpg";

            string imgName = img.ImageUrl + ".jpg";
            string imgSrc = imgHref + "/" + imgName;

            DateTime imgDate = img.ImageDate ?? new DateTime(1900, 01, 01);

            if (Model.SelectedCategory is not null && Model.SelectedCategory.MenuUrltext is not null && Model.SelectedCategory.MenuUrltext.Equals("/Search"))
            {
                <figure id="ImgId-@img.ImageId" class="figure @rowSizeClass p-2">
                    <a href="@imgHref" rel="nofollow" class="rounded btn btn-light thumb-a-class" title="Tryck för att se alla bilder av @imgTitle@imgDesc">
                        <img src="@imgThumbSrc" alt="@imgTitle@imgDesc" class="figure-img img-fluid rounded @imgCharWidth" width="120" height="120" title="Tryck för att se alla bilder av @imgTitle@imgDesc">
                        <figcaption class="figure-caption d-inline-block text-truncate @figcaptionCharWidth">@imgTitle</figcaption>
                    </a>
                </figure>
            }
            else
            {
                <figure id="ImgId-@img.ImageId" class="figure @rowSizeClass p-2">
                    <a href="@imgSrc" rel="nofollow" class="glightbox rounded btn btn-light thumb-a-class" data-gallery="gallery1" data-glightbox="title: @imgTitle; description: .@customDesc" title="@imgTitle@imgDesc
Tryck för att förstora">
                        <img src="@imgThumbSrc" alt="@imgTitle@imgDesc" class="figure-img img-fluid rounded @imgCharWidth" width="120" height="120" title="@imgTitle@imgDesc
Tryck för att förstora">
                        <figcaption class="figure-caption d-inline-block text-truncate @figcaptionCharWidth">@imgTitle</figcaption>
                    </a>
                </figure>

                <div class="glightbox-desc row @customDesc">
                    <p>@index av @imageList.Count - <a href="@imgHref" title="Se alla bilder av @imgTitle@imgDesc">@imgTitle</a>@imgDesc Fotodatum: @imgDate.ToString("yyyy-MM-dd")</p> @* Rätta DateTime , så denna går att använda: @img.ImageDate.ToShortDateString() *@
                    <p>Bildnamn: @imgName <a rel="nofollow" href="/Info/Copyright">© Torbjörn Arvidson</a>. Intresserad av bilden? Se: <a rel="nofollow" href="/Info/Köp_av_bilder?imgId=@img.ImageId">Köp av bilder</a></p>
                </div>
            }

            index += 1;
        }
    </div><!-- /end-gallery-row -->
}