@*<!-- Bilder-sidan / Galleriet -->*@
@model GalleryViewModel
@inject IImageService _imageService
@inject ICategoryService _categoryService
@{
    try
    {
        if (Model.SelectedCategory.MenuText.Length > 0)
            ViewData["Title"] = Model.SelectedCategory.MenuText;
        else
            ViewData["Title"] = "Ingen kategori skickades med...";
    }
    catch (Exception ex)
    {
        Model.ErrorMessage = ex.Message;
        ViewData["Title"] = "Bilder-sidan hittades inte";
    }
}
<h1>@ViewData["Title"]</h1>

@if (Model.SelectedCategory.MenuText.Length > 0)
{
    <p>Antal bilder: @Model.AllImagesList.Count() , sida: @Model.CurrentPage av @Model.TotalPages</p>
}
<partial name="_Gallery" model="Model" />
@if (Model.SelectedCategory.MenuText.Length > 0)
{
    <p>Antal bilder: @Model.AllImagesList.Count() , sida: @Model.CurrentPage av @Model.TotalPages</p>
}