@*<!-- Bilder-index (Galleriet) -->*@
@model GalleryViewModel
@inject IImageService _imageService
@inject ICategoryService _categoryService
@{
    List<TblMenu> subCategories = new List<TblMenu>();
    try
    {
        subCategories = _categoryService.GetSubsList(Model.SelectedCategory.MenuId)
                                        .OrderBy(c => c.MenuText)
                                        .ToList();

        if (Model.SelectedCategory.MenuText.Length > 0 || Model.SelectedCategory is null)
            ViewData["Title"] = Model.SelectedCategory.MenuText;
        else
            ViewData["Title"] = "Ingen kategori skickades med...";
    }
    catch (Exception ex)
    {
        Model.ErrorMessage = ex.Message;
        Log.Warning("Minor error on Galleryshow... URL: " + Model.CurrentUrl + " . Error-message: " + ex.Message);
        ViewData["Title"] = "Bilder-sidan hittades inte";
        
    }

}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        @{
            string[] splittUrl = Model.CurrentUrl.Split("/");
            string currentUrl = "";
            for (int i = 0; i < splittUrl.Length; i++)
            {
                if (i > 0) //Sorterar bort första punkten .
                {
                    currentUrl += "/" + splittUrl[i];
                    if (splittUrl.Length.Equals(i + 1))
                    {
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a href="@currentUrl">@splittUrl[i]</a></li>
                    }
                }
            }
        }
    </ol>
</nav>

@if (Model.SelectedCategory is not null) //Mest för att det ska gå att se vilket ID som är valt på sidan...
{
    <h1 id="MenuId-@Model.SelectedCategory.MenuId">@ViewData["Title"]</h1>
}
else
{
    <h1>@ViewData["Title"]</h1>
}


@if (subCategories is not null)
{
    foreach (var category in subCategories)
    {
        <a id="MenuId-@category.MenuId" class="my-1 p-1 btn btn-light btn-outline-primary text-dark" href="@(Model.CurrentUrl + "/" + category.MenuText)">@category.MenuText</a>
    }
}

@if (Model.AllImagesList.Count > 12)
{
    <p id="page-image-counter-top" class="text-center">Antal bilder: @(Model.AllImagesList.Count)st , sida: @Model.CurrentPage av @Model.TotalPages</p>
}
@if (Model.TotalPages > 1) // === Page-counter (Sidräknaren) ===
{
    <nav id="page-paging-top" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)">Första</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage - 1)" aria-label="Föregående"><span aria-hidden="true">« @(Model.CurrentPage - 1)</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Första</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">«</a></li>
            }
            <li class="page-item active"><a class="page-link" aria-label="Nuvarande">@(Model.CurrentPage)<span class="sr-only">(nuvarande)</span></a></li>
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true"> »</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Sista</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage + 1)" aria-label="Nästa">@(Model.CurrentPage + 1) »</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.TotalPages)">Sista</a></li>
            }
        </ul>
    </nav>
}@*// === Slutet på page-counter (Paging, sidnumreringen) ===*@

<partial name="_Gallery" model="Model" /> @*<!-- Här läggs Galleriet in via en PartialView -->*@

@if (Model.TotalPages > 1) // === Page-counter (Sidräknaren) ===
{
    <nav id="page-paging-bottom" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)">Första</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage - 1)" aria-label="Föregående"><span aria-hidden="true">« @(Model.CurrentPage - 1)</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Första</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">«</a></li>
            }
            <li class="page-item active"><a class="page-link" aria-label="Nuvarande">@(Model.CurrentPage)<span class="sr-only">(nuvarande)</span></a></li>
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true"> »</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Sista</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage + 1)" aria-label="Nästa">@(Model.CurrentPage + 1) »</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.TotalPages)">Sista</a></li>
            }
        </ul>
    </nav>
}@*// === Slutet på page-counter (Paging, sidnumreringen) ===*@
@if (Model.AllImagesList.Count > 0)
{
    <p id="page-image-counter-bottom" class="text-center">Antal bilder: @(Model.AllImagesList.Count)st , sida: @Model.CurrentPage av @Model.TotalPages</p>
}