@*<!-- Bilder-sidan / Galleriet -->*@
@model GalleryViewModel
@inject IImageService _imageService
@inject ICategoryService _categoryService
@{
    try
    {
        if (Model.SelectedCategory.MenuText.Length > 0)
            ViewData["Title"] = Model.SelectedCategory.MenuText;
        else
            ViewData["Title"] = "Ingen kategori skickades med...";
    }
    catch (Exception ex)
    {
        Model.ErrorMessage = ex.Message;
        ViewData["Title"] = "Bilder-sidan hittades inte";
    }
}
<h1>@ViewData["Title"]</h1>

@if (Model.SelectedCategory.MenuText.Length > 0)
{
    <p>Antal bilder: @Model.AllImagesList.Count() , sida: @Model.CurrentPage av @Model.TotalPages</p>
}

<partial name="_Gallery" model="Model" /> @*<!-- Här läggs Galleriet in via en PartialView -->*@


@if (Model.TotalPages > 1) // === Page-counter (Sidräknaren) ===
{
    <div id="page-counter" class="latest_bladdraren">
        <nav>
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li><a href="@(Model.CurrentUrl)">Första</a></li>
                    <li><a href="@(Model.CurrentUrl)?page=@(Model.CurrentPage - 1)" aria-label="Föregående"><span aria-hidden="true">« @(Model.CurrentPage - 1)</span></a></li>
                }
                else
                {
                    <li class="disabled"><a>Första</a></li>
                    <li class="disabled"><a aria-label="Föregående"><span aria-hidden="true">«</span></a></li>
                }
                <li class="active"><a aria-label="Nuvarande">@(Model.CurrentPage)<span class="sr-only">(nuvarande)</span></a></li>
                @if (Model.CurrentPage == Model.TotalPages)
                {
                    <li class="disabled"><a aria-label="Nästa"> »</a></li>
                    <li class="disabled"><a>Sista</a></li>
                }
                else
                {
                    <li><a href="@(Model.CurrentUrl)?page=@(Model.CurrentPage + 1)" aria-label="Nästa">@(Model.CurrentPage + 1) »</a></li>
                    <li><a href="@(Model.CurrentUrl)?page=@(Model.TotalPages)">Sista</a></li>
                }
            </ul>
        </nav>
        <p>Sida @(Model.CurrentPage) av @(Model.TotalPages)</p>
    </div>
}@*// === Slutet på page-counter (Paging, sidnumreringen) ===*@

@if (Model.SelectedCategory.MenuText.Length > 0)
{
    <p>Antal bilder: @Model.AllImagesList.Count() , sida: @Model.CurrentPage av @Model.TotalPages</p>
}