@model UploadImageInputModel
@inject ICategoryService _categoryService

@{
    string imgThumbSrc = Model.ImageUrlFullSrc + ".thumb.jpg";

    TblMenu selectedCategory = _categoryService.GetById(Model.ImageArt);
}

<form method="post" asp-controller="UploadAdmin" asp-action="EditImageLink">
    <div class="modal-body">
        <p class="text-center"><img src="@imgThumbSrc" alt="@Model.ImageArtNamn" width="120" height="120" title="@Model.ImageArtNamn"></p>

        @Html.AntiForgeryToken()
        <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="ImageHuvudfamilj" hidden />
            @*<label asp-for="ImageHuvudfamilj" class="control-label">Huvudfamilj: @Model.ImageHuvudfamiljNamn</label>*@
            <input asp-for="ImageFamilj" hidden />
            @*<label asp-for="ImageFamilj" class="control-label">Familj: @Model.ImageFamiljNamn</label>*@
            <input asp-for="ImageArt" hidden />
            <input asp-for="ImageId" hidden />
            @*<label asp-for="ImageArt" class="control-label">Art: @Model.ImageArtNamn</label>*@
            <p><strong>Bildnummer:</strong> @Model.ImageId</p>
            <p><strong>Art:</strong> @Model.ImageArtNamn</p>
            <p class="m-0">Är det fel art?</p>
            <p>Då behöver du <a title="Radera" class="text-danger" data-toggle="modal" data-target="#DeleteImage-@Model.ImageId">Radera</a> och göra en ny länkning.</p>
        </div>
        @*<div class="form-group"> <!-- Listar alla Arter i en dropdown-list -->
            <label asp-for="ImageArt" class="control-label">Art</label>
            <div>
                <select asp-for="ImageArt" class="form-control">

                    @foreach (var category in _categoryService.GetAll().OrderBy(c => c.MenuText))
                    {
                        if (category.Equals(selectedCategory))
                        {
                            <option selected value="@Model.ImageArt">@Model.ImageArtNamn</option>
                        }
                        else
                        {
                            <option value="@category.MenuId">@category.MenuText</option>
                        }
                    }
                </select>
                <span asp-validation-for="ImageArt"></span>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <div>
                <input asp-for="ImageUrl" placeholder="Filnamnet UTAN .jpg, t.ex: 'TA1_1234'" class="form-control" />
                <span asp-validation-for="ImageUrl"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageDate" class="control-label"></label>
            <div>
                <input asp-for="ImageDate" value="@Model.ImageDate.ToString("yyyy-MM-dd")" type="date" placeholder="ÅÅÅÅ-MM-DD" class="form-control" />
                <span asp-validation-for="ImageDate"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageDescription" class="control-label"></label>
            <div>
                <input asp-for="ImageDescription" value="@Model.ImageDescription" class="form-control" />
                <span asp-validation-for="ImageDescription"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Avbryt <i class="bi bi-x-circle"></i>
        </button>
        @*<a onclick="alert('Hoppsan, denna funktionen fungerar inte än!')" class="btn btn-primary text-white">
            Spara ändring <i class="bi bi-pencil-square"></i> (fungerar ej)
        </a>*@
        @*<div class="m-3 p-2">*@
        <button id="SubmitButton" type="submit" class="btn btn-primary text-white">
            Spara ändring <i class="bi bi-pencil-square"></i>
        </button>
        @*</div>*@
    </div>
</form>