@inject IImageService _imageService
@inject ICategoryService _categoryService
@inject IPageCounterService _pageCounterService
@{
    List<TblPageCounter> top10Categories = _pageCounterService.GetMonthCount(DateTime.Now.ToString("yyyy-MM"), true)
                                                              .OrderByDescending(c => c.PageViews)
                                                              .Take(10)
                                                              .ToList();
    List<TblPageCounter> monthPagesCount = _pageCounterService.GetMonthCount(DateTime.Now.ToString("yyyy-MM"), false);

}

<h4>Sidvisningar per sida, denna månaden (@(DateTime.Now.ToString("yyyy-MM")))</h4>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" class="col-3">Visningar</th>
            <th scope="col" class="col-5">Kategori</th>
            <th scope="col" class="col-4">Senast besökt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pageViewed in monthPagesCount)
        {
            <tr>
                <th scope="row">@pageViewed.PageViews</th>
                <td>@pageViewed.PageName</td>
                <td>@pageViewed.LastShowDate</td>
            </tr>
        }
    </tbody>
</table>

<h4>10 mest visade kategorierna, denna månaden (@(DateTime.Now.ToString("yyyy-MM")))</h4>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" class="col-3">Visningar</th>
            <th scope="col" class="col-5">Kategori</th>
            <th scope="col" class="col-4">Senast besökt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in top10Categories)
        {
            <tr>
                <th scope="row">@category.PageViews</th>
                <td>@category.PageName</td>
                <td>@category.LastShowDate</td>
            </tr>
        }
    </tbody>
</table>