@model UploadGbViewModel

@inject IGuestBookService _guestBookService
@{
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.HanteraGB;
    List<TblGb> gbListView = new List<TblGb>();
    gbListView = _guestBookService.GetAll();
}

@section MetaData {
    <meta name="robots" content="noindex, nofollow" />
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-book-half ml-1"></i></li>
    </ol>
</nav>

<h2 class="offset-md-4"><i class="bi bi-book-half mr-2"></i>@ViewData["Title"]</h2>

<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        @if (Model.DisplayMessage.Equals("ErrorGbDelete"))
        {
            <h5 class="alert alert-danger bg-danger text-light">Något gick fel vid raderade av GB-inlägget med nummer: <span class="text-dark">@Model.UpdatedId</span></h5>
        }
        else if (Model.DisplayMessage.Equals("OkGbDelete") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-success bg-success text-dark">Har nu raderat GB-inlägget med nummer: <span class="text-light">@Model.UpdatedId</span></h5>
        }
        else if (Model.DisplayMessage.Equals("OkGbRead") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-success bg-success text-dark">Har nu läsmarkerat GB-inlägget med nummer: <span class="text-light">@Model.UpdatedId</span></h5>
        }
        else if (Model.DisplayMessage.Equals("ErrorGbRead") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-danger bg-danger text-light">Något gick fel vid läsmarkering av GB-inlägget med nummer: <span class="text-dark">@Model.UpdatedId</span></h5>
        }
        <p>Här kan du redigera bland Gästboks-inläggen:</p>
        <div class="row row-cols-1">
            @if (_guestBookService is not null && gbListView is not null)
            {
                @foreach (var gbPost in gbListView)
                {
                    DateTime gbDate = gbPost.GbDate ?? new DateTime(1900, 01, 01);
                    string gbName = (gbPost.GbName is not null) ? gbPost.GbName : "Anonym användare";

                    //bool unRead = false; //Kan läggas till för notifications!
                    <div class="col mb-4">
                        <div class="card text-left text-dark">
                            <div class="card-header row">
                                <div class="text-left col-6">
                                    <p class="my-1"><strong>@gbName</strong></p>
                                </div>
                                <div class="text-right col-6">
                                    @if (gbPost.GbReadPost is not true) //Kan adderas för notifications
                                    {
                                        <a title="Läsmarkera" href="/UploadAdmin/MarkGbPostAsRead?gbId=@gbPost.GbId" class="btn btn-sm btn-success my-1">
                                            <i class="bi bi-check2-square mr-2"></i> Läsmarkera
                                        </a>
                                    }
                                    @if (gbPost.GbEmail is not null && gbPost.GbEmail.Contains("@")) //Kollar om Email innehåller en e-postadress...
                                    {
                                        @*<button title="Svara" type="button" class="btn btn-sm btn-primary my-1" data-toggle="modal" data-target="#AnswerTo-@gbPost.GbId">
                                            <i class="bi bi-pencil-square mr-2"></i>Svara
                                        </button>*@
                                        <a title="Svara via Outlook" class="btn btn-sm btn-primary my-1" href="mailto:@gbPost.GbEmail?subject=Svar%20på%20gästboks-inlägget%20du%20skrev%20på%20min%20hemsida:%20ArvidsonFoto.se" target="_blank" rel="noopener noreferrer">
                                            <i class="bi bi-pencil-square mr-2"></i>Svara
                                        </a>
                                    }
                                    <button title="Radera" type="button" class="btn btn-sm btn-danger my-1" data-toggle="modal" data-target="#DeleteMessage-@gbPost.GbId">
                                        <i class="bi bi-trash mr-2"></i>Radera
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-dark">@gbPost.GbText</p>
                            </div>
                            <div class="card-footer text-muted row">
                                <div class="text-left col-6">
                                    @if (gbPost.GbHomepage is not null)
                                    {<span class="card-text badge badge-info text-dark">@gbPost.GbHomepage</span>}
                                </div>
                                <div class="text-right col-6">@gbDate.ToString("yyyy-MM-dd")</div>
                            </div>
                        </div>
                    </div>

                    <!-- Bootstrap-Modal id=DeleteMessage -->
                    <div class="modal fade" id="DeleteMessage-@gbPost.GbId" tabindex="-1" aria-labelledby="DeleteMessage-@gbPost.GbId-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content text-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteMessage-@gbPost.GbId-Label">
                                        Radera meddelandet från @gbName?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Meddelande text:</strong> @gbPost.GbText <br /></p>
                                    <p><strong>Mottaget:</strong> @gbDate.ToString("yyyy-MM-dd HH:mm")</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Avbryt <i class="bi bi-x-circle"></i>
                                    </button>
                                    @*<a onclick="alert('Hoppsan, denna funktionen fungerar inte än!')" class="btn btn-danger">
                                        Radera <i class="bi bi-trash"></i>
                                    </a>*@
                                    <a href="/UploadAdmin/DeleteGbPost?gbId=@gbPost.GbId" class="btn btn-danger">
                                        Radera <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End of Bootstrap-Modal-->
                    @*
                    <!-- Bootstrap-Modal id=AnswerTo -->
                    <div class="modal fade" id="AnswerTo-@gbPost.GbId" tabindex="-1" aria-labelledby="AnswerTo-@gbPost.GbId-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content text-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AnswerTo-@gbPost.GbId-Label">
                                        Skriv ett svar till: @gbName
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Meddelande text:</strong> @gbPost.GbText <br /></p>
                                    <p><strong>Mottaget:</strong> @gbDate.ToString("yyyy-MM-dd HH:mm")</p>
                                    <p>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Ditt svar:</label>
                                            <textarea class="form-control" id="message-text-for-@gbPost.GbId"></textarea>
                                        </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Avbryt <i class="bi bi-x-circle"></i>
                                    </button>
                                    <a onclick="alert('Hoppsan, denna funktionen fungerar inte än!')" class="btn btn-primary text-white">
                                        Svara <i class="bi bi-pencil-square"></i> (fungerar ej)
                                    </a>
                                    <a class="btn btn-primary text-white" href="mailto:@gbPost.GbEmail?subject=Svar%20på%20gästboks-inlägget%20du%20skrev%20på%20min%20hemsida&body=test" target="_blank" rel="noopener noreferrer">
                                        Svara via Outlook <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End of Bootstrap-Modal-->*@
                }
            }
        </div>
    </div>
</div>