@model UploadImageViewModel
@inject ICategoryService _categoryService
@section MetaData {
    <meta name="robots" content="noindex" />
}
@{ 
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.NyBild;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-file-image ml-1"></i></li>
    </ol>
</nav>
<h2 class="offset-md-4"><i class="bi bi-file-image mr-2"></i>@ViewData["Title"]</h2>

<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <p>Här kan du länka till en ny bild på hemsidan:</p>
        @if (Model.ImageInputModel.ImageCreated)
        {
            <h5 class="alert alert-success bg-success text-dark">Länkningen genomfördes för: <span class="text-light">@_categoryService.GetNameById(Model.ImageInputModel.ImageArt), @Model.ImageInputModel.ImageUrl</span></h5>
        }
        @if (Model.SelectedCategory is not null)
        {
            <h3>Vald kategori: @Model.SelectedCategory.MenuText</h3>

            @if (_categoryService.GetSubsList(Model.SelectedCategory.MenuId).Count.Equals(0))
            {
                Model.ImageInputModel.ImageArt = Model.SelectedCategory.MenuId;
                if (Model.SelectedCategory.MenuMainId is not null)
                    Model.ImageInputModel.ImageFamilj = Model.SelectedCategory.MenuMainId;
                if (_categoryService.GetById(Model.SelectedCategory.MenuMainId).MenuMainId is not null)
                    Model.ImageInputModel.ImageHuvudfamilj = _categoryService.GetById(Model.SelectedCategory.MenuMainId).MenuMainId;
                <partial name="_ImageInputForm" model="Model.ImageInputModel" />
            }
        }
        @if (Model.SubCategories is not null)
        {
            <ul class="sitemap">
                @foreach (var category in Model.SubCategories)
                {
                    <li class="my-2">
                        <a class="btn btn-light btn-outline-primary text-dark" href="@(Model.CurrentUrl + "/" + category.MenuText)">@category.MenuText</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}