@using ArvidsonFoto.Views.Shared
@model UploadNewCategoryModel
@inject ICategoryService _categoryService
@section MetaData {
    <meta name="robots" content="noindex" />
}
@{
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.NyKategori;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-file-font ml-1"></i></li>
    </ol>
</nav>
<h2 class="offset-md-4"><i class="bi bi-file-font mr-2"></i>@ViewData["Title"]</h2>

<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <p>Här kan du lägga till en ny kategori på hemsidan:</p>
        @if (Model!.CategoryCreated)
        {
            <h5 class="alert alert-success bg-success text-dark">Skapat nya kategorin: <span class="text-light">@Model.MenuText</span></h5>
        }
        <form method="post" asp-action="@(nameof(UploadAdminController.CreateCategory))">
            @Html.AntiForgeryToken()
            <div class="form-group col-md-6">
                <label asp-for="MainMenuId">Vart ska kategorin ligga under?</label>
                <select asp-for="MainMenuId" class="form-control">
                    <option selected disabled value="">Välj kategori...</option>
                    @foreach (var category in _categoryService.GetAll().OrderBy(c => c.MenuText))
                    {
                        <option value="@category.MenuId">@category.MenuText</option>
                    }
                </select>
                <span asp-validation-for="MainMenuId"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MenuText">Nya kategorins namn</label>
                <input asp-for="MenuText" type="text" class="form-control">
                <span asp-validation-for="MenuText"></span>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-light btn-outline-primary text-dark">Skapa kategori</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}