@using ArvidsonFoto.Views.Shared
@model UploadEditImagesViewModel

@inject ICategoryService _categoryService

@section MetaData {
    <meta name="robots" content="noindex" />
}
@{
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.RedigeraBilder;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-pencil-square ml-1"></i></li>
    </ol>
</nav>
<h2 class="offset-md-4"><i class="bi bi-pencil-square mr-2"></i>@ViewData["Title"]</h2>
<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        @if (Model!.DisplayMessage is not null && Model.DisplayMessage.Equals("ErrorImgEdit") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-danger bg-danger text-light">Något gick fel vid redigering av bilden med nummer: <span class="text-dark">@Model.UpdatedId</span></h5>
        }
        else if (Model.DisplayMessage is not null && Model.DisplayMessage.Equals("OkImgDelete") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-success bg-success text-dark">Har nu raderat länkningen för bilden med nummer: <span class="text-light">@Model.UpdatedId</span></h5>
        }
        else if (Model.DisplayMessage is not null && Model.DisplayMessage.Equals("OkImgEdit") && Model.UpdatedId is not null)
        {
            <h5 class="alert alert-success bg-success text-dark">Har nu sparat ändringar för bilden: <span class="text-light">@_categoryService.GetNameById(Model.UpdatedId)</span></h5>
        }
        <p>Här nedanför kan du redigera bland de senaste bilderna:</p>
        <p class="">(du kan scrolla i sidled på telefonen)</p>
    </div>
</div>
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Bild</th>
                    <th scope="col">Bildnamn</th>
                    <th scope="col">Art</th>
                    <th scope="col">Familj</th>
                    <th scope="col">HuvudFamilj</th>
                    <th scope="col">Fotodatum</th>
                    <th scope="col">Beskrivning</th>
                    <th scope="col">Redigera</th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    @foreach (var image in Model.DisplayImagesList)
                    {
                        string imgThumbSrc = image.ImageUrlFullSrc + ".thumb.jpg";
                        <tr>
                            <th scope="row"><img src="@imgThumbSrc" alt="@image.ImageArtNamn" width="80" height="80" title="@image.ImageArtNamn"></th>
                            <td>@image.ImageUrl</td>
                            <td>@image.ImageArtNamn</td>
                            <td>@image.ImageFamiljNamn</td>
                            <td>@image.ImageHuvudfamiljNamn</td>
                            <td>@image.ImageDate.ToString("yyyy-MM-dd")</td>
                            <td>@image.ImageDescription</td>
                            <td>
                                <p class="m-0 mb-3">
                                    <button title="Ändra @image.ImageUrl" type="button" class="btn btn-sm btn-primary" style="width:6rem;" data-bs-toggle="modal" data-bs-target="#EditImage-@image.ImageId">
                                        <i class="bi bi-pencil-square mr-2"></i> Ändra
                                    </button>
                                </p>
                                <p class="m-0">
                                    <button title="Radera @image.ImageUrl" type="button" class="btn btn-sm btn-danger" style="width:6rem;" data-bs-toggle="modal" data-bs-target="#DeleteImage-@image.ImageId">
                                        <i class="bi bi-trash mr-2"></i> Radera
                                    </button>
                                </p>
                            </td>
                        </tr>
                    }
                }
                catch (Exception ex)
                {
                    <tr>
                        <td colspan="8">Hittade inga bilder</td>
                    </tr>
                    Log.Error("Något gick fel på RedigeraBilder-sidan. Felmeddelande: " + ex.Message);
                }
            </tbody>
        </table>
    </div>
    <section id="page-Modals">
        @foreach (var image in Model.DisplayImagesList) //Modal-loop (Popup rutorna Delete och Edit)
        {
            string imgThumbSrc = image.ImageUrlFullSrc + ".thumb.jpg";

            @*<!-- Bootstrap-Modal id=EditImage -->*@
            <div class="modal fade" id="EditImage-@image.ImageId" tabindex="-1" aria-labelledby="EditImage-@image.ImageId-Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-dark">
                        <div class="modal-header">
                            <h5 class="modal-title" id="EditImage-@image.ImageId-Label">
                                Ändra bilden: @image.ImageUrl på @image.ImageArtNamn
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <partial name="_EditImageInputForm" model="@image" /> @*<!-- Formuläret för att ändra på bilden ligger i denna filen... -->*@
                    </div>
                </div>
            </div>@*<!-- End of Bootstrap-Modal-->*@

            @*<!-- Bootstrap-Modal id=DeleteImage -->*@
            <div class="modal fade" id="DeleteImage-@image.ImageId" tabindex="-1" aria-labelledby="DeleteImage-@image.ImageId-Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-dark">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteImage-@image.ImageId-Label">
                                Radera bilden: @image.ImageUrl på @image.ImageArtNamn?
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center"><img src="@imgThumbSrc" alt="@image.ImageArtNamn" width="120" height="120" title="@image.ImageArtNamn"></p>
                            <p>Vill du ta bort denna bilden på @image.ImageArtNamn?</p>
                            <p><strong>Filnamn:</strong> @image.ImageUrl</p>
                            <p><strong>Uppladdad:</strong> @image.ImageUpdate.ToString("yyyy-MM-dd HH:mm")</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Avbryt <i class="bi bi-x-circle"></i>
                            </button>
                            <a href="/UploadAdmin/DeleteImage?imgId=@image.ImageId" class="btn btn-danger">
                                Radera <i class="bi bi-trash"></i>
                            </a>
                            @*<a onclick="alert('Hoppsan, denna funktionen fungerar inte än!')" class="btn btn-danger">
                                Radera bilden <i class="bi bi-trash"></i>
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>@*<!-- End of Bootstrap-Modal-->*@
        }
    </section>

    <p id="page-image-counter-bottom" class="text-center">Antal bilder: @(Model.AllImagesList.Count)st , sida: @Model.CurrentPage av @Model.TotalPages</p>
    @if (Model.TotalPages > 1) // === Page-counter (Sidräknaren) ===
    {
        <nav id="page-paging-bottom" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)">Första</a></li>
                    <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage - 1)" aria-label="Föregående"><span aria-hidden="true">« @(Model.CurrentPage - 1)</span></a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Första</a></li>
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">«</a></li>
                }
                <li class="page-item active"><a class="page-link" aria-label="Nuvarande">@(Model.CurrentPage)<span class="sr-only">(nuvarande)</span></a></li>
                @if (Model.CurrentPage == Model.TotalPages)
                {
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true"> »</a></li>
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Sista</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage + 1)" aria-label="Nästa">@(Model.CurrentPage + 1) »</a></li>
                    <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.TotalPages)">Sista</a></li>
                }
            </ul>
        </nav>
    }@*// === Slutet på page-counter (Paging, sidnumreringen) ===*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}