@model List<string>
@section MetaData {
    <meta name="robots" content="noindex" />
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-journal-code ml-1"></i></li>
    </ol>
</nav>
<h1 class="offset-md-4"><i class="bi bi-journal-code mr-2"></i>@ViewData["Title"]</h1>

<div class="row">
    <nav class="nav col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <p>Välj en dag att visa:</p>
        <p>
            @{ //Start på kalender-vy
                var getDate = DateTime.Now;

                var firstDayOfTheMonth = new DateTime(getDate.Year, getDate.Month, 1);
                var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);

                var numberOfDays = Convert.ToInt16(lastDayOfTheMonth.ToString("dd"));
                DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek);
            }
            <table>
                <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tis</th>
                        <th>Ons</th>
                        <th>Tor</th>
                        <th>Fre</th>
                        <th>Lör</th>
                        <th>Sön</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @for (int i = 0; i < 42; i++)
                        {
                            DateTime date = startDate.AddDays(i);
                            if (i % 7 == 0 && i > 0) //start a new row every 7 days
                            {
                                @:</tr><tr>
                            }
                            <td>@date.Day</td>
                        }
                    </tr>
                </tbody>
            </table>
        </p>
        <p>Här nedan visas loggboken från hemsidan:</p>
        @foreach (var line in Model)
        {
            string lineColor = "";
            lineColor = line.Contains("[INF]") ? "bg-info text-dark" : lineColor;
            lineColor = line.Contains("[WRN]") ? "bg-warning text-dark" : lineColor;
            lineColor = line.Contains("[ERR]") ? "bg-danger" : lineColor;
            <p class="mb-1 @lineColor">@line</p>
        }
    </div>
</div>