@*<!-- Senast-index -->*@
@model GalleryViewModel

@section MetaData {
    <meta name="robots" content="noimageindex, nofollow" />
    <meta name="description" content="Torbjörn Arvidson Foto - Senast @ViewData["Title"]. Bilder på djur och natur. Antal bilder: @if (Model.DisplayImagesList is not null) {@Model.DisplayImagesList.Count} else {@("0")}st" />
    <link rel="canonical" href="https://ArvidsonFoto.se/@Model.CurrentUrl" />
}

@{
    string classIcon = "bi-camera";
    classIcon = ViewData["Title"].Equals("Uppladdad") ? "bi-calendar-week" : classIcon;
    classIcon = ViewData["Title"].Equals("Per kategori") ? "bi-grid-3x3-gap" : classIcon;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Senast">Senast</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi @classIcon mx-1"></i></li>
    </ol>
</nav>

<h1>Senast - @ViewData["Title"] <i class="bi @classIcon"></i></h1>

<partial name="../Bilder/_Gallery" model="Model" /> @*<!-- Här läggs Galleriet in via en PartialView -->*@

@if (Model.TotalPages > 1) // === Page-counter (Sidräknaren) ===
{
    <nav id="page-counter" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)">Första</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage - 1)" aria-label="Föregående"><span aria-hidden="true">« @(Model.CurrentPage - 1)</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Första</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">«</a></li>
            }
            <li class="page-item active"><a class="page-link" aria-label="Nuvarande">@(Model.CurrentPage)<span class="sr-only">(nuvarande)</span></a></li>
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true"> »</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Sista</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.CurrentPage + 1)" aria-label="Nästa">@(Model.CurrentPage + 1) »</a></li>
                <li class="page-item"><a class="page-link" href="@(Model.CurrentUrl)?sida=@(Model.TotalPages)">Sista</a></li>
            }
        </ul>
    </nav>
}@*// === Slutet på page-counter (Paging, sidnumreringen) ===*@
@if (Model.AllImagesList.Count > 0)
{
    <p class="text-center">Antal @if (Model.SelectedCategory.MenuText.Equals("Per kategori"))
    {<text>kategorier</text> }
else
{ <text>bilder</text>}: @(Model.AllImagesList.Count())st , sida: @Model.CurrentPage av @Model.TotalPages</p>
}