@using ArvidsonFoto.Core.Models
@section MetaData {
    <meta name="robots" content="noimageindex" />
}

@inject ICategoryService _categoryService
@{
    List<ArvidsonFoto.Core.Models.TblMenu> categories = _categoryService.GetAll();
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sidkarta<i class="bi bi-diagram-3 mx-1"></i></li>
    </ol>
</nav>

<h2><i class="bi bi-diagram-3"></i> @ViewData["Title"]</h2>

<p>En sidkarta över alla sidor på denna hemsidan:</p>

<a href="./">ArvidsonFoto.se</a>
<ul class="sitemap headMenu">
    @* Den synliga menyn börjar här *@
    <li>
        <i class="bi bi-arrow-bar-right"></i> <a href="./Senast">Senast</a>
        <ul class="sitemap">
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Senast/Fotograferad"><i class="fa fa-camera-retro" aria-hidden="true"></i> Fotograferad</a></li>
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Senast/Uppladdad"><i class="fa fa-upload" aria-hidden="true"></i> Uppladdad</a></li>
            <li><i class="bi bi-arrow-return-right"></i> <a href="./Senast/Per kategori"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Per kategori</a></li>
        </ul>
    </li>
    @if (_categoryService == null || categories == null)
    {
        <li><a href="./Bilder/Däggdjur">Däggdjur</a><ul class="sitemap"><li><a href="#">Dummy Item</a></li></ul></li>
        <li><a href="./Bilder/Fåglar">Fåglar</a><ul class="sitemap"><li><a href="#">Dummy Item</a></li></ul></li>
        <li><a href="./Bilder/Insekter">Insekter</a><ul class="sitemap"><li><a href="#">Dummy Item</a></li></ul></li>
    }
    else
    {
        var headMenu = categories.Where(m => m.MenuParentCategoryId == 0 || m.MenuParentCategoryId == null).ToList();
        if (headMenu != null && headMenu.Count > 0)
        {
            var lastHeadMenuItem = headMenu.Last();
            foreach (var headItem in headMenu)
            {
                <li>
                    @{
                        var sub1Menu = categories.Where(m => m.MenuParentCategoryId == headItem.MenuCategoryId).OrderBy(m => m.MenuDisplayName).ToList();
                        if (sub1Menu != null && sub1Menu.Count > 0)
                        {
                            var lastSub1MenuItem = sub1Menu.Last();
                            if (headItem.MenuDisplayName == "Fåglar")
                            { <i class="bi bi-arrow-bar-right"></i> <a href="./Bilder/Fåglar" title="@headItem.MenuDisplayName">@headItem.MenuDisplayName</a> }
                            else
                            { <i class="bi bi-arrow-bar-right"></i> <a href="./Bilder/@headItem.MenuDisplayName" title="@headItem.MenuDisplayName">@headItem.MenuDisplayName</a> }
                    <ul class="sitemap sub1Menu">
                        @foreach (var sub1Item in sub1Menu)
                        {
                        <li>
                            @{
                                var sub2Menu = categories.Where(m => m.MenuParentCategoryId == sub1Item.MenuCategoryId).OrderBy(m => m.MenuDisplayName).ToList();
                                if (sub2Menu != null && sub2Menu.Count > 0)
                                {
                                    var lastSub2MenuItem = sub2Menu.Last();
                                    if (sub1Item.Equals(lastSub1MenuItem))
                                    {
                                        <i class="bi bi-arrow-return-right"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-arrow-bar-right"></i>
                                    } <a href="./Bilder/@headItem.MenuDisplayName/@sub1Item.MenuDisplayName" title="@sub1Item.MenuDisplayName">@sub1Item.MenuDisplayName</a>
                                    <ul class="sitemap sub2Menu">
                                        @foreach (var sub2Item in sub2Menu)
                                        {
                                            <li>
                                                @{
                                                    var sub3Menu = categories.Where(m => m.MenuParentCategoryId == sub2Item.MenuCategoryId).OrderBy(m => m.MenuDisplayName).ToList();
                                                    if (sub3Menu != null && sub3Menu.Count > 0)
                                                    {
                                                        var lastSub3MenuItem = sub3Menu.Last();
                                                        if (sub2Item.Equals(lastSub2MenuItem))
                                                        {
                                                            <i class="bi bi-arrow-return-right"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="bi bi-arrow-bar-right"></i>
                                                        } <a href="./Bilder/@headItem.MenuDisplayName/@sub1Item.MenuDisplayName/@sub2Item.MenuDisplayName" title="@sub2Item.MenuDisplayName">@sub2Item.MenuDisplayName</a>
                                                        <ul class="sitemap sub3Menu">
                                                            @foreach (var sub3Item in sub3Menu)
                                                            {
                                                                <li>
                                                                    @if (sub3Item.Equals(lastSub3MenuItem))
                                                                    {
                                                                        <i class="bi bi-arrow-return-right"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="bi bi-arrow-bar-right"></i>
                                                                    }
                                                                    <a href="./Bilder/@headItem.MenuDisplayName/@sub1Item.MenuDisplayName/@sub2Item.MenuDisplayName/@sub3Item.MenuDisplayName" title="@sub3Item.MenuDisplayName">@sub3Item.MenuDisplayName</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        if (sub2Item.Equals(lastSub2MenuItem))
                                                        {
                                                            <i class="bi bi-arrow-return-right"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="bi bi-arrow-bar-right"></i>
                                                        }
                                                        <a href="./Bilder/@headItem.MenuDisplayName/@sub1Item.MenuDisplayName/@sub2Item.MenuDisplayName" title="@sub2Item.MenuDisplayName">@sub2Item.MenuDisplayName</a>
                                                    }
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    if (sub1Item.Equals(lastSub1MenuItem))
                                    {
                                        <i class="bi bi-arrow-return-right"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-arrow-bar-right"></i>
                                    }
                                    <a href="./Bilder/@headItem.MenuDisplayName/@sub1Item.MenuDisplayName" title="@sub1Item.MenuDisplayName">@sub1Item.MenuDisplayName</a>
                                }
                            }
                        </li>
                        }
                    </ul>
                }
                else
                { 
                    if (headItem.Equals(lastHeadMenuItem))
                    {
                        <i class="bi bi-arrow-return-right"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-bar-right"></i>
                    }
                    <a href="./Bilder/@headItem.MenuDisplayName" title="@headItem.MenuDisplayName">@headItem.MenuDisplayName</a> 
                }
                }
                </li>
            }
        }
    }
    <li>
        <i class="bi bi-arrow-bar-right"></i> <a href="./Info"><i class="bi bi-info-circle"></i> Info </a>
        <ul class="sitemap">
            @*<li><i class="bi bi-arrow-bar-right"></i> <a href="./Upload_Admin.asp"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Admin (Dold)</a></li> <!-- Kräver inloggning --> *@
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Kop_av_bilder"><i class="bi bi-cart3"></i> Köp av bilder</a></li>
            @*<li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Portfolio"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Portfolio (Dold - Utvecklas)</a></li>  <!-- Kräver inloggning --> *@
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Gastbok"><i class="bi bi-book"></i> Gästbok</a></li>
            @*<li class="disabled"><i class="bi bi-arrow-bar-right"></i> <a class="disabled" href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Bildvisningar (Dold - Utvecklas)</a></li>  <!-- Kräver inloggning --> *@
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Kontakta"><i class="bi bi-mailbox"></i> Kontaktinformation</a></li>
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Om_mig"><i class="bi bi-question-circle"></i> Om mig, Torbjörn Arvidson</a></li>
            <li><i class="bi bi-arrow-bar-right"></i> <a href="./Info/Sidkarta"><i class="bi bi-diagram-3"></i> Sidkarta</a></li>
            <li><i class="bi bi-arrow-return-right"></i> <a href="./Info/Copyright">&copy; Copyright</a></li>
            @*<partial name="_LoginPartial" />*@
        </ul>
    </li>
    <li><i class="bi bi-arrow-return-right"></i> <a href="./Search" aria-label="Sök på sidan"><i class="bi bi-search"></i> Sök</a></li>
    @*<li><a href="./?log=out"><i class="fa fa-sign-out" aria-hidden="true"></i> Logga ut</a></li> <!-- Kräver inloggning --> *@
</ul>

<p class="text-center">(Tips: Tryck [CTRL] + [F] för att söka bland alla bild-kategorier på denna sidan)</p>