@using ArvidsonFoto.Data
@inject IImageService _imageService
@inject ICategoryService _categoryService
@{
    ViewData["Title"] = "Startsidan";
    string bilder = "https://arvidsonfoto.se/Bilder";
    List<TblImage> imageList;
    imageList = _imageService.GetRandomNumberOfImages(16); //Hämtar (x)-antal bilder att visa på startsidan
}

<div id="page-header">
    <h1>Torbjörn Arvidson Foto <small>Välkommen till mitt bildarkiv</small></h1>
</div>

<div id="page-content" class="row">
    <div class="col-xs-12 col-sm-5">
        <p>Här finner du ett urval av mina bilder.</p>
        <p>
            Är du intresserad av att köpa högupplösta bilder? <br>
            Kontakta mig på <a href="mailto:torbjorn_arvidson@hotmail.com">torbjorn_arvidson@hotmail.com</a>.
        </p>
        <p><i>/Torbjörn Arvidson</i></p>

        <figure class="figure btn btn-light">
            <img class="figure-img img-fluid rounded" width="420" height="420" src="./img/Torbjorn2020.jpg" alt="Torbjörn Arvidson" title="Torbjörn Arvidson">
            <figcaption class="figure-caption text-center text-truncate">Torbjörn Arvidson</figcaption>
        </figure>
    </div>
    <div id="page-gallery" class="col-12 col-sm-7">
        <div id="gallery" class="mt-3 row">


            @{ var index = 1; }
            @foreach (var img in imageList)
            {
                string glightboxid = "glightbox" + index;
                string customDesc = "custom-desc" + index;

                string imgHref = bilder;
                string imgTitle = _categoryService.GetNameById(img.ImageArt);

                if (img.ImageHuvudfamilj.HasValue)
                    imgHref += "/" + _categoryService.GetNameById(img.ImageHuvudfamilj);
                if (img.ImageFamilj.HasValue)
                    imgHref += "/" + _categoryService.GetNameById(img.ImageFamilj);

                imgHref += "/" + imgTitle;

                string imgThumbSrc = imgHref + "/" + img.ImageUrl + ".thumb.jpg";

                string imgName = img.ImageUrl + ".jpg";
                string imgSrc = imgHref + "/" + imgName;

                <figure class="figure col-4 col-lg-3">
                    <a href="@imgSrc" class="@glightboxid rounded btn btn-light" data-gallery="gallery1" data-glightbox="title: @imgTitle; description: .@customDesc" title="@imgTitle
Klicka för att förstora">
                        <img src="@imgThumbSrc" alt="@imgTitle" class="figure-img img-fluid rounded" width="120" height="120" title="@imgTitle
Klicka för att förstora">
                        <figcaption class="figure-caption text-center text-truncate">@imgTitle</figcaption>
                    </a>
                </figure>

                <div class="glightbox-desc @customDesc">
                    <p><a href='@imgHref'>@imgTitle</a>, @img.ImageDescription</p>
                    <p>Fotodatum: @img.ImageDate</p>
                    <p>Bildnamn: @imgName <a href='/Info/Copyright/'>© Torbjörn Arvidson</a></p>
                    <p>Intresserad av bilden? Se: <a href='/Info/Köp_av_bilder/'>Köp av bilder</a></p>
                </div>

                index += 1;
            }
        </div><!-- /end-gallery-row -->
        <div class="text-center">
            <small>Slumpmässigt utvalda bilder</small>
        </div>
    </div><!-- /end-gallery -->
</div>