@using ArvidsonFoto.Views.Shared
@inject ICategoryService _categoryService
@{
    List<TblMenu> categories;
    categories = _categoryService.GetAll();
}
<nav class="main-nav">
    <input id="main-menu-state" type="checkbox" />@* Hamburger-meny knappen skrivs ut här:  *@
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Växla menyns synlighet
    </label>
    <h1 class="nav-brand"><a href="./">ArvidsonFoto.se</a></h1>
    <ul id="main-menu" class="sm sm-mint">
        <li class="pr-1">
            <partial name="_NavUploadAdmin" />
        </li>
        @* Den synliga menyn börjar här *@
        <li class="pr-1">
            <a href="./Senast">Senast</a>
            <ul>
                <li><a href="./Senast/Fotograferad"><i class="bi bi-camera"></i> Fotograferad</a></li>
                <li><a href="./Senast/Uppladdad"><i class="bi bi-calendar-week"></i> Uppladdad</a></li>
                <li><a href="./Senast/Per%20kategori"><i class="bi bi-grid-3x3-gap"></i> Per kategori</a></li>
                @*<li><a href="/Senast/Bildkalender/"><i class="fa fa-calendar"></i> Bildkalender</a></li> <!-- //Kräver inloggning -->*@
            </ul>
        </li>
        @if (_categoryService == null || categories == null)
        {
            <li><a href="./Bilder/Däggdjur">Däggdjur</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Fåglar">Fåglar</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Insekter">Insekter</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Kräldjur">Kräldjur</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Landskap">Landskap</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Resor">Resor</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Växter">Växter</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
            <li><a href="./Bilder/Årstider">Årstider</a><ul><li><a href="#">Dummy Item</a></li></ul></li>
        }
        else
        {
var headMenu = categories.Where(m => m.MenuMainId == 0).ToList(); // This will list main menu items on which we'll apply loop to display them.
if (headMenu != null && headMenu.Count > 0)
{
foreach (var headItem in headMenu)
{
<li class="pr-1">
@{
var sub1Menu = categories.Where(m => m.MenuMainId == headItem.MenuId).OrderBy(m => m.MenuText).ToList();
if (sub1Menu != null && sub1Menu.Count > 0)
{
if (@headItem.MenuText == "Fåglar") //Om det är "Fåglar" så ska det inte vara någon klickbar HREF:
{ <a href="./Bilder/Fåglar">@headItem.MenuText</a> }
else
{ <a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)">@headItem.MenuText</a> }
<ul>
@foreach (var sub1Item in sub1Menu)
{
<li>
@{
var sub2Menu = categories.Where(m => m.MenuMainId == sub1Item.MenuId).OrderBy(m => m.MenuText).ToList();
if (sub2Menu != null && sub2Menu.Count > 0)
{
<a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub1Item.MenuText)" class="has-category-tooltip" data-category-id="@sub1Item.MenuId">@sub1Item.MenuText</a>
<ul>
@foreach (var sub2Item in sub2Menu)
{
<li>
@{
var sub3Menu = categories.Where(m => m.MenuMainId == sub2Item.MenuId).OrderBy(m => m.MenuText).ToList();
if (sub3Menu != null && sub3Menu.Count > 0)
{
<a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub1Item.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub2Item.MenuText)" class="has-category-tooltip" data-category-id="@sub2Item.MenuId">@sub2Item.MenuText</a>
<ul>
@foreach (var sub3Item in sub3Menu)
{
<li>
<a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub1Item.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub2Item.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub3Item.MenuText)" class="has-category-tooltip" data-category-id="@sub3Item.MenuId">@sub3Item.MenuText</a>
</li>
}
</ul>
}
else
{ <a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub1Item.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub2Item.MenuText)" class="has-category-tooltip" data-category-id="@sub2Item.MenuId">@sub2Item.MenuText</a> }
}
</li>
}
</ul>
}
else
{ <a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)/@SharedStaticFunctions.ReplaceUrlText(sub1Item.MenuText)" class="has-category-tooltip" data-category-id="@sub1Item.MenuId">@sub1Item.MenuText</a> }
}
</li>
}
</ul>
}
else
{ <a href="./Bilder/@SharedStaticFunctions.ReplaceUrlText(headItem.MenuText)">@headItem.MenuText</a> }
}
</li>
}
}
        }
        <li class="pr-1">
            <a href="./Info"><i class="bi bi-info-circle"></i> Info </a>
            <ul>
                @*<li><a href="./Upload_Admin.asp"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Admin (Dold)</a></li>
                <li class="divider"></li>  <!-- Kräver inloggning --> *@
                <li><a href="./Info/Köp_av_bilder"><i class="bi bi-cart3"></i> Köp av bilder</a></li>
                @*<li><a href="./Info/Portfolio"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Portfolio (Dold - Utvecklas)</a></li>  <!-- Kräver inloggning --> *@
                <li><a href="./Info/Gästbok"><i class="bi bi-book"></i> Gästbok</a></li>
                <li class="divider"></li>
                @*<li class="disabled"><a class="disabled" href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Bildvisningar (Dold - Utvecklas)</a></li>  <!-- Kräver inloggning --> *@
                <li><a href="./Info/Kontakta"><i class="bi bi-mailbox"></i> Kontaktinformation</a></li>
                <li><a href="./Info/Om_mig"><i class="bi bi-question-circle"></i> Om mig, Torbjörn Arvidson</a></li>
                <li class="divider"></li>
                <li><a href="./Info/Sidkarta"><i class="bi bi-diagram-3"></i> Sidkarta</a></li>
                <li><a href="./Info/Copyright">&copy; Copyright</a></li>
                @*Den synliga menyn slutar här*@
                <partial name="_NavLoginPartial" />
            </ul>
        </li>
        <li class="pr-2"><a href="./Search" aria-label="Sök på sidan"><i class="bi bi-search"></i> Sök</a></li>
    </ul>
</nav>