@using ArvidsonFoto.Views.Shared
@using ArvidsonFoto.Core.Interfaces
@using ArvidsonFoto.Core.DTOs
@using System.Net
@inject IApiCategoryService CategoryService

@{
    var categories = CategoryService?.GetAll() ?? new List<CategoryDto>();
}

<nav class="main-nav">
    <input id="main-menu-state" type="checkbox" />
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Växla menyns synlighet
    </label>
    <h1 class="nav-brand"><a href="./">ArvidsonFoto.se</a></h1>
    <ul id="main-menu" class="sm sm-mint">
        <li class="pe-1">
            <partial name="_NavUploadAdmin" />
        </li>
        <li class="pe-1">
            <a href="./Senast">Senast</a>
            <ul>
                <li><a href="./Senast/Fotograferad"><i class="bi bi-camera"></i> Fotograferad</a></li>
                <li><a href="./Senast/Uppladdad"><i class="bi bi-calendar-week"></i> Uppladdad</a></li>
                <li><a href="./Senast/Per%20kategori"><i class="bi bi-grid-3x3-gap"></i> Per kategori</a></li>
            </ul>
        </li>
        
        @if (categories == null || !categories.Any())
        {
            <li><a href="./Bilder/Däggdjur">Däggdjur</a><ul><li><a href="#">Dummy</a></li></ul></li>
            <li><a href="./Bilder/Fåglar">Fåglar</a><ul><li><a href="#">Dummy</a></li></ul></li>
            <li><a href="./Bilder/Insekter">Insekter</a><ul><li><a href="#">Dummy</a></li></ul></li>
        }
        else
        {
            var mainCategories = categories.Where(m => m.ParentCategoryId == 0 || m.ParentCategoryId == null).ToList();
            foreach (var head in mainCategories)
            {
                var subs1 = categories.Where(m => m.ParentCategoryId == head.CategoryId).OrderBy(m => m.Name).ToList();
                
                <li class="pe-1">
                    @if (subs1.Any())
                    {
                        if (head.Name == "Fåglar")
                        {
                            <a href="./Bilder/Fåglar">@Html.Raw(head.Name)</a>
                        }
                        else
                        {
                            <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))">@Html.Raw(head.Name)</a>
                        }
                        <ul>
                            @foreach (var s1 in subs1)
                            {
                                var subs2 = categories.Where(m => m.ParentCategoryId == s1.CategoryId).OrderBy(m => m.Name).ToList();
                                
                                <li>
                                    @if (subs2.Any())
                                    {
                                        <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s1.Name))" 
                                           class="has-category-tooltip" data-category-id="@s1.CategoryId" data-category-name="@Html.Raw(s1.Name)">@Html.Raw(s1.Name)</a>
                                        <ul>
                                            @foreach (var s2 in subs2)
                                            {
                                                var subs3 = categories.Where(m => m.ParentCategoryId == s2.CategoryId).OrderBy(m => m.Name).ToList();
                                                
                                                <li>
                                                    @if (subs3.Any())
                                                    {
                                                        <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s1.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s2.Name))" 
                                                           class="has-category-tooltip" data-category-id="@s2.CategoryId" data-category-name="@Html.Raw(s2.Name)">@Html.Raw(s2.Name)</a>
                                                        <ul>
                                                            @foreach (var s3 in subs3)
                                                            {
                                                                
                                                                <li>
                                                                    <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s1.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s2.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s3.Name))" 
                                                                       class="has-category-tooltip" data-category-id="@s3.CategoryId" data-category-name="@Html.Raw(s3.Name)">@Html.Raw(s3.Name)</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s1.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s2.Name))" 
                                                           class="has-category-tooltip" data-category-id="@s2.CategoryId" data-category-name="@Html.Raw(s2.Name)">@Html.Raw(s2.Name)</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(s1.Name))" 
                                           class="has-category-tooltip" data-category-id="@s1.CategoryId" data-category-name="@Html.Raw(s1.Name)">@Html.Raw(s1.Name)</a>
                                    }
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="./Bilder/@Html.Raw(SharedStaticFunctions.ReplaceUrlText(head.Name))">@Html.Raw(head.Name)</a>
                    }
                </li>
            }
        }
        
        <li class="pe-1">
            <a href="./Info"><i class="bi bi-info-circle"></i> Info </a>
            <ul>
                <li><a href="./Info/Kop_av_bilder"><i class="bi bi-cart3"></i> Köp av bilder</a></li>
                <li><a href="./Info/Gastbok"><i class="bi bi-book"></i> Gästbok</a></li>
                <li class="divider"></li>
                <li><a href="./Info/Kontakta"><i class="bi bi-mailbox"></i> Kontaktinformation</a></li>
                <li><a href="./Info/Om_mig"><i class="bi bi-question-circle"></i> Om mig, Torbjörn Arvidson</a></li>
                <li class="divider"></li>
                <li><a href="./Info/Sidkarta"><i class="bi bi-diagram-3"></i> Sidkarta</a></li>
                <li><a href="./Info/Copyright">&copy; Copyright</a></li>
                <partial name="_NavLoginPartial" />
            </ul>
        </li>
        <li class="pe-2"><a href="./Search" aria-label="Sök på sidan"><i class="bi bi-search"></i> Sök</a></li>
        <li class="pe-2"><a href="#" id="dark-mode-toggle" title="Tänd ljuset"><i class="bi bi-lightbulb"></i></a></li>
    </ul>
</nav>