@model ErrorViewModel

<h2 class="mt-3 text-danger">@ViewData["Title"]</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model?.VisitedUrl is not null)
{
    <p class="text-break mb-0">
        <strong>Requested URL:</strong> <code><a href="/">ArvidsonFoto.se</a>@Model.VisitedUrl</code>
    </p>
}
<p class="text-break my-0">
    <strong>Request time:</strong> <code>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</code>
</p>
@if (Model!.ShowRequestId)
{
    <p class="text-break my-0">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p class="my-2">
    If this error occurs alot for you, please <a href="/Info/Contact">contact me</a>. So I can get a fix for the error on the page.
</p>
<p class="mt-4">
    Go back to the startpage: <a href="/">ArvidsonFoto.se</a>.
</p>

@if (Model.VisitedUrl.ToLower().StartsWith("/images/gallery") || Model.VisitedUrl.ToLower().StartsWith(("/img/gallery")))
{
    string url = Model.VisitedUrl;
    string[] splittedUrl = url.Split("/");
    string currentUrl = "https://arvidsonfoto.se/Bilder";
    foreach (var splitt in splittedUrl)
    {
        //Sökvägen ska inte innehålla: '/images/gallery/' eller '/images/gallery-thumb/' 
        if (splitt.Equals("images") is false && splitt.Equals("img") is false && splitt.Equals("gallery") is false && splitt.Equals("gallery-thumb") is false && string.IsNullOrWhiteSpace(splitt) is false)
            currentUrl += "/" + splitt;
    }

    <h3 class="mt-5 text-warning">Error 301 - You are using an old URL to this image!</h3>
    <p>The image you requested have been transfered to another URL.</p>
    <p>This is the image you requested:</p>
    <p>
        <figure class="figure alert alert-light" title="Your requested image 🖼">
            <img class="figure-img img-fluid rounded" src="@currentUrl" alt=" Image" />
            <figcaption class="figure-caption text-center text-truncate">Requested image</figcaption>
        </figure>
    </p>
}
else
{
    <p class="mt-5 mb-0">I hope this rabbit atleast will cheer you up a bit 🙂 </p>
    <p>
        <figure class="figure alert alert-light" title="Rabbit 🐇">
            <img class="figure-img img-fluid rounded" src="https://arvidsonfoto.se/Bilder/D%C3%A4ggdjur/Kanin/B57V4570.thumb.jpg" alt="Image of a Rabbit..." />
            <figcaption class="figure-caption text-center text-truncate">Rabbit 🐇</figcaption>
        </figure>
    </p>
}